
body,
textarea,
input[type="submit"],
input::placeholder {
font-family: 'Merriweather', serif;
color: #2d3945;
font-weight: 300;
}

/* BASE ELEMENTS */

body {
  background-color: rgba(239, 250, 254, .5);
}

body,
input::placeholder,
p,
label {
  font-size: .9em;
}

header {
  background: #2d3945;
  text-align: center;
  padding: 15px 0;
}

header h1 {
  color: #fff;
}

h1,
legend {
  font-size: 1.1875em;
  font-weight: 700;
  margin: 20px 0 20px 2.5%;
}

form {
  border-top: solid 2px #2d3945;
  margin-top: 3px;
  background-color: #fff;
  margin-bottom: 200px;
  border-radius: 0 0 10px 10px;
  padding-bottom: 15px;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  padding-top: 25px;
}

label {
  margin-left: 2.5%;
}

/* CLASS & ID SELECTORS */

.width {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.signup-div {
  border-bottom: solid 5px #2d3945;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.set-1 {
  padding-bottom: 15px;
  border-bottom: solid 2px #2d3945;
}

.fullname,
.email-addr {
  display: none;
}

#copyright {
  width: 60%;
  margin: 0 20%;
}

/* SUBSTRING SELECTORS & PSUEDO-CLASSES */

select,
textarea,
input[type="text"],
input[type="tel"],
input[type="email"] {
  background-color: #eff0f1;
  border: none;
  width: 95%;
  height: 50px;
  border-radius: 5px;
  margin-left: 2.5%;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1em;
  text-indent: 15px;
}

input[name*="zip_code"] {
  width: 50%;
  margin-right: 50%;
}

input::placeholder {
  text-align: left;
}

#copyright,
textarea,
input::placeholder {
  font-style: italic;
  color: #C3C7CA;
}

input[required]::placeholder {
  text-align: right;
  padding-right: 15px;
}

input[type^="check"],
input[type*="radio"] {
  margin: 10px 0 10px 10px;
}

input[type="submit"] {
  background-color: #4EBBB5;
  width: 95%;
  margin-left: 2.5%;
  height: 60px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 1.25em;
}

input:focus,
select:focus,
textarea:focus {
  transition: .25s;
  background-color: rgba(63, 127, 191, .1);
  border: solid 2px rgba(63, 127, 191, .75);
}

input[name*="full_name"]:focus:required:invalid
+ .fullname {
  display: block;
  text-align: left;
  font-size: .75em;
  font-style: italic;
  color: red;
  margin: -20px 0 15px 2.5%;
}

input[name*="full_name"]:focus:required:valid {
  background-image: url();
}

/* OVERRIDE FOR TEXTAREA - HEIGHT & INDENT */
textarea {
  height: 80px;
  padding: 10px 0;
  text-indent: 10px;
}
/**************************************************/
